<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="student1" class="com.demo.model.Student">

		<constructor-arg name="id" value="1" />
		<constructor-arg name="name" value="Ruwan" />
		<constructor-arg name="age" value="20" />
		<constructor-arg name="faculty" ref="faculty1" />

	</bean>


	<bean id="faculty1" class="com.demo.model.Faculty">

		<constructor-arg name="id" value="10" />
		<constructor-arg name="name" value="Logistics" />

	</bean>


</beans> 